<settings>
  <repositoryPath>..\packages</repositoryPath>

  <packageSources>
    <add key="ST TeamCity" value="http://10.0.1.228:8080/httpAuth/app/nuget/v1/FeedService.svc/" />
  </packageSources>
  <activePackageSource>
    <add key="ST TeamCity" value="http://10.0.1.228:8080/httpAuth/app/nuget/v1/FeedService.svc/" />
  </activePackageSource>
  
</settings>